@charset "UTF-8";
* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /*height: 100%;*/
}

body{
    background-image: linear-gradient(to right, #26ADFD, #31FAD7, #26FD5F );

}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #909624d4;
    width: 600px;
    padding: 10px;
    margin: auto;
    

}

h1{
   color: #22E38C ;
   text-align: center;
   text-shadow: 1px 1px 2px #909624d4;
}

h2{
color:#22CEE3 ;
}

p{
    text-align: justify;
}